[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
asgiref="*"
dj-database-url="*"
django="*"
django-heroku="*"
psycopg2="*"
pytz="*"
sqlparse="*"
whitenoise="*"

[dev-packages]

[requires]
python_version = "3.9"
