<!DOCTYPE html>

<!-- This is a simple web app that can consume the dsl api...code cheza kiwewe-->
<head>
    <title>Web app for dsl api consumption</title>
    <link rel="stylesheet" href="Dapweb.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<main>
    

<body>
    <div class="container">
    <header>
    
        
    
    <nav id="navbar">
      

            <ul><a style="font-family: Lobster;color:green;font-size:25px;"href="">About</a>
          <li> <a href="http://dsl.health.go.ke" style="color:green;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;"target="_blank" >Data Analytics portal</a></li>
          <li><a href="#" target="_blank" style="color:green;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">MOH</a></li>
          <li><a href="#fyi" style="color:green;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Home</a></a>
        </ul>
      </nav>
      </header>

</div>

<div class="stu">
    <article>
    <p></p>
    </article>

       <div id="fyi">
        <h1>About</h1>

        <p >Aim of this project is to provide a simpler UI version for people with no expertise whatseover dealing with the DAP analytics portal.Each tab
            on the dashboard has an info section that provides the relative info of what the tab  can process or consume from the api in a layeman's language.This is to help 
            the public get access to real-time data analysis from a simpler UI and have some capability to understand what and how MOH processes health data in KENYA.
        </p>
</div>

        <section class="center">

        
        <a href="#"><img class="moh" src="moh.PNG" alt="Ministry of health"></a>


        </section>

    </div>
    </body>
    </main>