
<!DOCTYPE html>

<!-- This is a simple web app that can consume the dsl api...code cheza kiwewe-->
<head>

    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet"> 
   

    <script src="https://kit.fontawesome.com/d5880e197d.js" crossorigin="anonymous"></script>
    <title>Web app for dsl api consumption</title>
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}



{% load static %}
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa:wght@200;500&family=Roboto:wght@100&display=swap" rel="stylesheet"> 

   <link rel="stylesheet" href="{% static 'css/Dapweb.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 </script>

  </head>

<main>




 
<body onload="myFunction()" style="margin:0;">

{% if user.is_authenticated %}
  


    <div class="container">
      
    
    <header>

       </div>

        <nav id="nav">
            <header>
                <i class="fas fa-hospital-user" style="font-size:60px;color:teal;display:flex;justify-content: center;"></i>
                <p style="font-size:25px;color:teal;display:flex;justify-content: center;">DAP Analyzed</p>
            </header>
                                                                           {% for message in messages %}
               <div class="alert alert-info" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
   </button>
   <p style="font-size:15px">{{ message }}</p>
     </div>
{% endfor %}
            <br>
            <br>

            <div id="sidebar-item">
            <p style = "color:teal"> Dashboard</p>
            <i class="fas fa-home" style="color: teal;line-height:3.5em;margin-left:0.5em;"><a href="{% url 'home'%}" style="color: grey;">   Home</a></i>
            <br>
            
            <hr>
            <p style = "color:teal"> Help</p>
            <i class="fas fa-bookmark" style="color: teal;line-height:3.5em;margin-left:0.5em;"><a href="#Get_posts" style="color: grey;"> Definitions </a></i>
            <br>
            <i class="fas fa-address-card" style="color: teal;line-height:3.5em;margin-left:0.5em;"><a href="#Post_caption" style="color: grey;">   About US</a></i>
        
            <hr>
            <p style = "color:teal" > Indicators</p>
            <i class="fas fa-file-signature" style="color: teal;line-height:3.5em;margin-left:0.5em;"><a href="#Post_caption" style="color: grey;">   Cases Ratio</a></i>
            <br>
            
            <hr>
            <p style = "color:teal"> Analytics</p>
            <i class="fas fa-chart-line" style="color: teal;line-height:3.5em;margin-left:0.5em;"><a href="#Post_caption" style="color: grey;">   Insights</a></i>
            <br>
        
            <i class="fas fa-chart-pie" style="color: teal;line-height:3.5em;margin-left:0.5em;"><a data-toggle="modal" data-target=".bd-example-modal-lg" href="#foo" style="color: grey;">   Distribution</a></i>
         <div class="modal fade bd-example-modal-lg" id= "foo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
       <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <p>hello</p>
    </div>
   </div>
   </div>

          <br>

            <i class="fas fa-chart-line" style="color: teal;line-height:3.5em;margin-left:0.5em;"><a href="#Post_caption" style="color: grey;" >   Predictions</a></i>

            <br>
              <i class="fas fa-scroll" style="color: teal;line-height:3.5em;margin-left:0.5em;"><a href="#Post_caption" style="color: grey;">   Report</a></i>
            <br>
            <br>
            <hr>
            <p style = "color:teal"> Analytics</p>
            <i class="fas fa-chart-line" style="color: teal;line-height:3.5em;margin-left:0.5em;"><a href="#Post_caption" style="color: grey;">   Insights</a></i>
            <br>
            <br>
            <hr>
            <p style = "color:teal"> Analytics</p>
            <i class="fas fa-chart-line" style="color:teal;line-height:3.5em;margin-left:0.5em;"><a href="#Post_caption" style="color: grey;">   Insights</a></i>
            </div>
            
      
          </nav>
    
        
    
    <nav id="navbar">
      


        <ul>
          
            <li>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color:white;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:25px"target="_blank" ><i class="fas fa-users-cog"></i></a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">{{ user.username }}</a>
                      <a class="dropdown-item" href="{% url 'profile'%}">Account Settings</a>
                   
                    </div>
                  </div> 
                  </li>
                 
                

                    <div class="btn-group">
                        
                        <a type="button" class="btn btn-danger" href="{% url 'logout' %}">Log Out</a>
                    

                        </button>
                        </div>

          <li><a href="#" target="_blank" style="color:grey;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:40px"><i class="far fa-comment-dots"></i></a></li>
          <li><a href="About.html" style="color:grey;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:40px"><i class="far fa-bell"></i></a><span class="badge badge-light">1</span>
            <span class="sr-only">unread messages</span></li>
          <li> <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search Indicator" aria-label="Search"
            aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary">search</button>
          </div>
       </li>
        </ul>
      </nav>
      </header>

</div>


<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
<div id="dashboard" class="board">
<div class="form-group row">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
         <div class="col-sm-6">
          <div class="card" style="width: 58rem;height:15rem;">
            <div class="card-body">
                <i class="fas fa-sign"><h5 class="card-title">Indicator Values(1192)</h5></i>
              <p class="card-text">A health indicator is a measure designed to summarize information about a given priority topic in population health or health system performance. Health indicators provide comparable and actionable information across different geographic, organizational or administrative boundaries and/or can track progress over time.</p>
              <a href="#" class="btn btn-primary">See Data</a>
            </div>
          </div>
        </div>
    </div>
    <div class="carousel-item" >
      <div class="col-sm-6" >
          <div class="card" style="width: 58rem;height:15rem;">
            <div class="card-body">
                <i class="fas fa-equals"><h5 class="card-title">Correlation analysis</h5></i>
              <p class="card-text" >A statistical method used to measure the strength of the linear relationship between two variables and compute their association.Here at DAP we find the relationship bet
                  ween indicators,indicators and the weather and indicators and workforce.<a href=""><i>Find how correlation is calculated</i></a>
              </p>
              <a href="#" class="btn btn-primary">See Data</a>
            </div>
          </div>
        </div>
      </div>
   

        <div class="carousel-item">
     <div class="col-sm-6">
          <div class="card" style="width: 58rem;height:15rem;">
            <div class="card-body">
                <i class="fas fa-project-diagram"><h5 class="card-title">DAP Analyzed</h5></i>
              <p class="card-text" >We want to take you indepth with the data and help you get to understand it so as to derive meaningful insights and directives.The main aim is to get the most feedback out of this data</p>
              <a href="#" class="btn btn-primary">About Us</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 
      <div class="container mt-5" >

        <!-- Card -->
        
         
         
          
          <div class="card" style="width: 58rem;">
          <div class="card-body">
            <p class="text-uppercase small mb-2"><strong>Indicators Survey</strong></p>
            <h5 class="font-weight-bold mb-0">General Analysis</h5>
            <canvas id="myChart" width="800px" height="200px"></canvas>
            
          </div>

    
          <hr class="my-0">
    
          
        </div>
        <!-- Card -->
    
      </div>
      
      
   
   


</div>
</div>
</div>
{% else %}
{% block scripts %}
<script>

$(document).ready(function(){
  const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Jan', 'Feb', 'Mar', 'April', 'May', 'Jun','July','Aug','Sep','Oct','Nov','Dec'],
        datasets: [{
            label: 'Indicator Summary',
            data: [12, 19, 3, 5, 2, 3, 10, 12, 6, 14, 4, 9],
            backgroundColor: [
                'teal',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'green',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


});

 
</script>
{% endblock scripts %}
<div id="Welcome-section">

<div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="home">
    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About DAP Analyzed</li>
  </ol>
</nav>
   <div class="homei">
   <u><h5 style="color:black;font-family: 'Changa', sans-serif;">Welcome to DAP analyzed</h5></u> 
<p style="color:black" > 

Data analytics platform analyzed, Is a independent implementation of the ministry of health data analytics platform that came up during health IT hackathon held at Kabarak University from 24th-26th SEP 2021. This project is mainly aimed at going deeper in data anlaysis,prediction and provinsion of valuable insights of already available health data.The problem statements that brought fourth this project was the inability of the Analytic platform(MOH DAP)to:<br>
1.Provide distributed data either among gender roles,age or any other underlying issues.<br>2.The analytics platform in place could not give the difference between the original data and predicted data<br>
3.Missing data.
<br>4.Heavy terminologies for the platform users.<br>
5.Lack of real time data and prediction.<br>
6.Lack of a mechanism to update the data.</p>

<u><h5 style="color:black;font-family: 'Changa', sans-serif;">Why this platform</h5></u>
<p style="color:black">This site is extensively built for the ministry of health,health officers and health practioners or any individual with an aspiration to dive deep in the health data.The big question is always understanding the data provided.Theres alot of terms in the DAP platform a health practioner or a gov't official cant relate to.This platform is built to bring to light each and every item implemented so as to make sure each data insight is correct and can be backed up.</p>

 <div class="alert alert-danger" role="alert">
 <p>Please Login to Continue</p>
  <a href="{% url 'login' %}">Log In</a></p>
          </div>
    
       
    </div>      
          
    </div>
       <footer >
     
      <p style="font-size: 11px;">Copyright &copy; 2021 David Mugalla <i class="fas fa-circle-notch"></i> Hosted on Github/Heroku</p>
      <div id="social">
                  <!--Your Github,linkedin and instagram Social media link goes here-->
              <a target="_blank" href="http://www.github.com/davdtheemonk"><i style="font-size:30px;color:grey;" class="fab fa-github-square"></i></a>
<a target="_blank" href="https://ke.linkedin.com/in/david-mugalla-198149215">    <i style="font-size:30px;color:grey;" class="fab fa-linkedin-in"></i></a>
              <a href="#"><i style ="font-size:30px;color:grey;" class="fab fa-instagram"></i></a>
              
              </div>
      
    
       
    </footer>
   
     </div>

      <nav id="n12">
      


            <ul>

            <a style="font-family: Lobster;color:green;font-size:25px;"href=""></a>

          <li> <a href="http://dsl.health.go.ke" style="color:teal;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"target="_blank" >Data Analytics portal</a></li>
          <li><a href="#" target="_blank" style="color:teal;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">MOH</a></li>
          <li><a href="About.html" style="color:teal;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">About</a></a>
        </ul>
      </nav>
      
      
      
      <br>
     
     {% for message in messages %}
     <div class="alert alert-info" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
  {{ message }}
</div>
</div>
</div>





    
   


</body>
     {% endfor %}
 
    
      
{% endif %}
{% endblock %}
</main>

</html>
